.text-transform-uppercase {
  text-transform: uppercase;
}
.text-transform-capitalize {
  text-transform: capitalize;
}
.text-transform-lowercase {
  text-transform: lowercase;
}
.important h4 {
  color: red !important;
}
.important h4:nth-child(2) {
  color: blue;
}
