/* Text Transform */
.text-transform-uppercase {
  text-transform: uppercase;
}
.text-transform-capitalize {
  text-transform: capitalize;
}
.text-transform-lowercase {
  text-transform: lowercase;
}
/* Important */
.important h4 {
  color: red !important;
}
.important h4:nth-child(2) {
  color: blue;
}
/* Colors */
.colors > h4:first-child {
  color: #ff0000;
}
.colors > h4:nth-child(2) {
  color: rgb(255, 0, 0);
}
.colors > h4:nth-child(3) {
  color: rgba(255, 0, 0, 0.5);
}
.colors > h4:nth-child(4) {
  color: hsl(209, 100%, 50%);
}
.colors > h4:last-child {
  color: hsl(209, 100%, 50%, 0.8);
}
.units > div > div {
  margin-top: 20px;
  height: 2px;
  background-color: black;
  display: inline-block;
}
.units > div:first-child > div {
  width: 10px;
}
.units > div:nth-child(2) > div {
  width: 10pt;
}
.units > div:nth-child(3) > div {
  width: 10px;
}
.units > div:nth-child(4) > div {
  width: 1in;
}
.units > div:nth-child(5) > div {
  width: 5vw;
}

.units > div:nth-child(6) > div {
  width: 2rem;
}
.units > div:nth-child(8),
.units > div:nth-child(10) {
  border: 1px solid red;
  height: 40px;
  width: 100%;
  text-align: center;
}
.units > div:nth-child(10) {
  width: 50%;
  height: 50px;
}
.units > div:nth-child(10) > span {
  display: block;
}
.units > div:nth-child(10) > div {
  width: 50%;
  height: 30px;
  margin-top: 0px;
  display: block;
  background-color: white;
  border: 1px solid blue;
}
/* Typography */
.typography > p:first-child {
  text-decoration: line-through;
}
.typography > p:nth-child(2) {
  text-transform: capitalize;
}
.typography > p:nth-child(3) {
  text-align: justify;
}
.typography > p:nth-child(4) {
  text-indent: 20px;
}
.typography > p:nth-child(5) {
  text-shadow: 3px 3px 5px #000;
}
.typography > p:nth-child(6) {
  line-height: 2;
}
.typography > p:nth-child(7) {
  letter-spacing: 5px;
}
.typography > p:nth-child(8) {
  word-spacing: 10px;
}
.typography > p:nth-child(9) {
  font-weight: 900;
}
.typography > p:nth-child(10) {
  font-style: italic;
}
.typography > p:nth-child(11) {
  font-family: fantasy;
}
/* Links */
.styling a {
  color: red;
}
.styling a:active {
  color: yellow;
}
.styling a:visited {
  color: purple;
}
/* Lists */
.lists > ul:first-child {
  list-style-type: square;
}
.lists > ol:nth-child(3) {
  list-style-type: upper-alpha;
}
.lists > ul:nth-child(5) {
  text-align: center;
  list-style-position: inside;
}
.lists > ul:nth-child(7) {
  text-align: center;
  list-style-position: outside;
}
.lists > ul:nth-child(9) {
  list-style-image: url("/assets/icons/marked.svg");
}
.lists > ul:nth-child(11) > li {
  text-align: center;
}
.lists > ul:nth-child(11) ::marker {
  color: red;
  content: "$";
  padding-left: 20px;
}
/* Display */
.display > div {
  text-align: center;
  border: 1px solid red;
  width: 200px;
  height: 50px;
}
.display > div:first-child {
  text-align: center;
}
.display > div:nth-child(3) {
  display: inline;
}

.display > div:nth-child(6) {
  display: inline-block;
}
.display > div:nth-child(7) {
  display: inline-block;
}
